Desktop.ini    
.DS_Store 
!.bridge/
.bridge/*
!.bridge/compiler/
!.bridge/extensions
builds
/node_modules/
err/
input.cos
dist/
astra
.envrc
devenv.*
.devenv*
devenv.local.nix
.direnv
.pre-commit-config.yaml
pnpm-lock.yaml
