Desktop.ini    
.DS_Store 
!.bridge/
.bridge/*
!.bridge/compiler/
!.bridge/extensions
builds
/node_modules/
err/
input.cos
dist/
astra
pnpm-lock.yaml
/build
/.regolith
.vitepress/dist
.vitepress/cache
~
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
